body {
    font-family: 'Roboto', sans-serif;
    color: #24292e;
    background-color: #fff;
    line-height: 150%;
}

hr {
    color: rgba(192, 188, 188, 0.5);
    border-color: rgba(192, 188, 188, 0.1)
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    width: 980px;
    margin: 32px auto;
}

.my-name {
    margin-bottom: 5px;
}

blockquote {
    border-left: 4px solid rgba(192, 188, 188, 0.5);
    padding: 0px 0px 0px 18px;
    color: #6a737d;
    margin-left: 0;
}

blockquote p {
    padding: 0;
}

.education-achievments ul {
    line-height: 80%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgba(192, 188, 188, 0.5);
    text-align: left;
    padding: 5px 10px;
}

tr:nth-child(even) {
    background: rgba(192, 188, 188, 0.1);
}

footer {
    margin-top: 15px;
}